/*
  * my style sheet basically for
  *myportfolio
  */
body{
    background-color: black;
    color: white;
    padding: 3px;
    width: auto;
    font-family: Sans-Serif, Times New Roman;
    font-size: 16px;
}
.home{
    height: 750px;
    background-image:url("011f82b6008077df9b6adbe3fc97661649c565d80cd15b944d158de58c174b9e.png");
    background-position: center;
    background-size: contain;
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
}
.navigation{
    background: linear-gradient(white, purple);
    white-space: pre-line;
    width: auto;
    padding: 5px;
    position: relative;
    left:0px;
    background-clip: content-box;
}
button{
    display: flex;
    background: none;
    border: none;
    text
}
.link{
    text-align:center;
    text-decoration: none;
    color:orange;
}
.about{
    height: 500px;
    background-color: darkgreen;
}
.qualification{
    height: 500px;
    background-color: darkred;
}
.projects{
    height: 600px;
    background-color: purple;
}
@media screen and (max-with: 992px)
{
    
}
@media screen and (max-width:600px, orientation)
{
}